#e{
    background-color:black;
}
#a{
    display: flex;
    background-color: black;

}
.b{
    margin-left: 50px;
}


#c{
    display: flex;
    background-color: black;

}
.d{
    margin-left: 50px;
}
.b:hover{
    transform: scale(1.4);
}
.d:hover{
    transform: scale(1.4);
}
.z,.x{
    display: flex;
}
.y,.w{
    color: white;
    margin-top: 170px;
}